{% load i18n curriculum %}

<html>
 <head>
  <style type="text/css">
  @page {
    size: {{ pagesize }};
    margin: 1cm;
    border: 0pt solid white;
  }
  * {
    font-size: 14px;
    line-height: 15px;
  }
  .center {
    text-align: center;
  }
  a[href], .h1, .h2 {
    color: rgb(197, 15, 91);
  }
  .h1 {
    font-size: 25px;
  }
  .h2 {
    font-size: 20px;
  }
  .h3 {
    font-size: 16px;
    color: rgb(197, 15, 91);
  }
  .h3 small {
    color: rgb(233, 88, 184);
  }
  .separator {
    border: 3px;
    line-height: 0px;
  }
  .test{
    font-size: 40px;
  }
  </style>
 </head>
 <body>
    <div id="content_frame">
      <table>
        <tr>
        <td style="width: 330px">
          {% if resume.image %}
          <img height="120" width="120" src="{{ resume.image.url }}"/>
          {% endif %}
          <img  height="60" width="60" src="{{ resume.website_qrcode }}"/>
         
        </td>
        <td class="center">
          <h1 class="h1">{{ resume.firstname }} {{ resume.lastname }}<br><br>{{ resume.title }}</h1>
          {% if resume.resume %}<i>{{ resume.resume }}</i>{% endif %}
        </td>
        <td style="width: 330px; text-align: right">
              {% if resume.phone %}{{ resume.phone }}<br>{% endif %}
              {% if resume.city or resume.country %}{{ resume.city|default:"" }}, {{ resume.country|default:"" }}<br>{% endif %}
              {% if resume.email %}<a href="mailto:{{ resume.email }}">{{ resume.email }}</a><br>{% endif %}
              {% if resume.website %}{{ resume.website|shortlink|safe }}<br>{% endif %}
              {% if resume.skype %}<b>Skype</b>: {{ resume.skype }}<br>{% endif %}
              {% if resume.stackoverflow %}<b>stackoverflow</b>: <a href="http://stackoverflow.com/users/{{ resume.stackoverflow }}">{{ resume.stackoverflow }}</a><br>{% endif %}
              {% if resume.github %}<b>GitHub</b>: <a href="https://github.com/{{ resume.github }}">{{ resume.github }}</a><br>{% endif %}
        </td>
        </tr>
      </table>
      {% if trainings %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Educations" %}</h2>
        {% for training in trainings %}
          <h3 class="h3">{{ training.degree }} ( <small>{% daterange_display training.start_year training.start_month training.end_year training.end_month %}</small> )</h3>
          <p>{% if not hide_training_description and training.school %}{{ training.school|linebreaksbr }}{% endif %}</p>
          <p>{% if training.result %}Percentage: {{ training.result|linebreaksbr }}{% endif %}</p>
        {% endfor %}
      {% endif %}

      {% if skills %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Skills" %}</h2>
        {% for skill in skills %}
        {% ifchanged skill.category %}
          <h3 class="h3">{{ skill.category|capfirst }}</h3>
        {% endifchanged %}
        <h3 class="h3">{{ skill }} - {{ skill.get_level_display|capfirst }}</h3>
        {% endfor %}
      {% endif %}
      
      {% if projects %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Projects" %}</h2>
        {% for project in projects %}
          <h3 class="h3"> {{ project.project.url|shortlink:project|safe }} ( <small>{% daterange_display project.start_year project.start_month project.end_year project.end_month %}</small> )</h3>

          <p>{{ project.project.description|linebreaksbr }}</p>
          
        {% endfor %}
      {% endif %}
      
      {% if experiences %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Experiences" %}</h2>
        {% for experience in experiences %}
        <h3 class="h3">{{ experience }} <small>{% daterange_display experience.start_year experience.start_month experience.end_year experience.end_month %}</small></h3>
        {% if not hide_experience_description and experience.description %}{{ experience.description|linebreaksbr }}{% endif %}
        
        {% endfor %}
      {% endif %}
      
      {% if certifications %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Certifications" %}</h2>
        {% for certification in certifications %}
        <h3 class="h3">{{ certification.certification.url|shortlink:certification|safe }} ( <small>{% daterange_display certification.end_year certification.end_month %}</small> )</h3>
        {% endfor %}
      {% endif %}
      
      {% if resume.hobbies %}
        <hr class=separator>
        <h2 class="center h2">{% trans "Hobbies" %}</h2>
        {{ resume.hobbies|linebreaksbr }}
      {% endif %}
    </div>  
 </body>
</html>
