<!DOCTYPE html>
<html>
<head>
	<title>Menu List</title>
</head>
<body>
        <a href="/employee/resume">Resume</a><br>
        <a href="/employee/training">Education</a><br>
        <a href="/employee/skill">Skill</a><br>
        <a href="/employee/skillitem">Skill Item</a><br>
        <a href="/employee/project">Project</a><br>
        <a href="/employee/projectitem">Project Item</a><br>
        <a href="/employee/experience">Experience</a><br>
        <a href="/employee/certification">Certification</a><br>
        <a href="/employee/certificationitem">Certification Item</a><br>
        <a href="/employee/language">Language</a><br>
        <a href="/employee/languageitem">Language Item</a><br>
</body>
</html>